@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    <link href="~/Content/solution.min.css" rel="stylesheet" />
}
<div class="layout-container">
    <div class="solution-page">
        <div class="container">
            <h2>Focus，and more Professional</h2>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="section--header">
            <h2 class="section--title">About Rays Consulting</h2>
            <p>
                RAYS CONSULTING is committed to connecting and optimizing business resources to provide Executive Search & Professional Placement services for enterprises. The founders，come from a fortune 500 U.S. human resource firm, set up RAYS brand pioneering the concept of “Focus, and more Professional”, with the purpose of restoring the “consulting” essence of headhunting. With office headquartered in Wuxi, the business scope of RAYS covers large and medium-sized cities nationwide, focusing on manufacturing，automotive parts, construction and IT industries.
            </p>
            <p>
                The teams of RAYS are broken down to focus on industry, function, salary level and location, our consultants are all experts in their area. Every consultant，with relevant experience, only focus on their own field. Therefore, we understand the market better, we understand the people better. RAYS help enterprises achieve their business goals more efficiently by providing customized human resource solutions, which is our core competitive advantage.
            </p>
        </div>
    </div>
</div>

