@{
    ViewBag.Title = "Solution";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
    <link href="~/Content/product.min.css" rel="stylesheet" />
}

<div class="section product2-service">
    <div class="container">
        <div class="section--header">
            <h2 class="section--title">Executive Search & Professional Placement</h2>
            <p class="section--description">
                What we provide are customized human resource services, below is the operation process
            </p>
        </div>
        <div class="product2-service-content">
            <div class="am-g">
                <!--product2-info-left start-->
                <div class="am-u-md-4 product2-info">
                    <div class="product2-info-left">
                        <div class="am-g">
                            <div class="am-u-sm-2">
                                <img src="../images/product/product2/product2_service_icon3.png" alt="" />
                            </div>
                            <div class="am-u-sm-10 am-text-right product2-content-info">
                                <h3>1. Understanding recruitment requirements</h3>
                                <p>The first step, in order to know the real requirements of clients , we make field visits to observe and study every company.</p>
                            </div>
                        </div>
                        <div class="am-g">
                            <div class="am-u-sm-2">
                                <img src="../images/product/product2/product2_service_icon5.png" alt="" />
                            </div>

                            <div class="am-u-sm-10 am-text-right product2-content-info">
                                <h3>2. Developing sourcing strategy</h3>
                                <p>We form a targeted project team according to investigation results, discuss and make out searching plans.</p>
                            </div>
                        </div>
                        <div class="am-g">
                            <div class="am-u-sm-2">
                                <img src="../images/product/product2/product2_service_icon4.png" alt="" />
                            </div>
                            <div class="am-u-sm-10 am-text-right product2-content-info">
                                <h3>3. Searching and presentation</h3>
                                <p>On account of our consultants’ understanding of the market, 3 to 4 strictly selected reports will be presented to clients in one week, attached with reference checks of candidates.</p>
                            </div>

                        </div>
                    </div>
                </div>
                <!--product2-info-left end-->
                <!-- product2-content-img start -->
                <div class="am-u-md-4">
                    <div class="product2-content-img">
                        @*<img src="~/images/product/product2/product2-phone.jpg" alt="" />*@
                        <img src="~/images/1071167968.jpg" />
                    </div>
                </div>
                <!-- product2-content-img end -->
                <!-- product2-info-right start -->
                <div class="am-u-md-4 product2-info">
                    <div class="product2-info-right">
                        <div class="am-g">
                            <div class="am-u-sm-2">
                                <img src="../images/product/product2/product2_service_icon6.png" alt="" />
                            </div>
                            <div class="am-u-sm-10 am-text-left product2-content-info">
                                <h3>4. Employment negotiation</h3>
                                <p>According to the motivation of candidates, we help to analyze their career planning before attending the new company.</p>
                            </div>
                        </div>
                        <div class="am-g">
                            <div class="am-u-sm-2">
                                <img src="../images/product/product2/product2_service_icon7.png" alt="" />
                            </div>
                            <div class="am-u-sm-10 am-text-left product2-content-info">
                                <h3>5. On board follow up</h3>
                                <p>Helping candidates to be parts of company and make contributions is our job, we do pay lots of attention to candidates after their on boarding.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- product2-info-right end -->
            </div>
        </div>
    </div>
</div>

