@{
    ViewBag.Title = "Solution";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
    <link href="~/Content/product.min.css" rel="stylesheet" />
    <link href="/content/amazeui.css" rel="stylesheet" />
}

<div class="section product2-service">
    <div class="container">
        <div class="section--header">
            <h2 class="section--title">Executive Search & Professional Placement</h2>
            <p class="section--description">
                What we provide are customized human resource services, below is the operation process
            </p>
        </div>
        <div class="product2-service-content">
            <div class="am-g">
                <!--product2-info-left start-->
                <div class="am-u-md-4 product2-info">
                    <div class="product2-info-left">
                        <div class="am-g">
                            <div class="am-u-sm-2">
                                <img src="../images/product/product2/product2_service_icon3.png" alt="" />
                            </div>
                            <div class="am-u-sm-10 am-text-right product2-content-info">
                                <h3>1. Understanding recruitment requirements</h3>
                                <p>The first step, in order to know the real requirements of clients , we make field visits to observe and study every company.</p>
                            </div>
                        </div>
                        <div class="am-g">
                            <div class="am-u-sm-2">
                                <img src="../images/product/product2/product2_service_icon5.png" alt="" />
                            </div>

                            <div class="am-u-sm-10 am-text-right product2-content-info">
                                <h3>2. Developing sourcing strategy</h3>
                                <p>We form a targeted project team according to investigation results, discuss and make out searching plans.</p>
                            </div>
                        </div>
                        <div class="am-g">
                            <div class="am-u-sm-2">
                                <img src="../images/product/product2/product2_service_icon4.png" alt="" />
                            </div>
                            <div class="am-u-sm-10 am-text-right product2-content-info">
                                <h3>3. Searching and presentation</h3>
                                <p>On account of our consultants’ understanding of the market, 3 to 4 strictly selected reports will be presented to clients in one week, attached with reference checks of candidates.</p>
                            </div>

                        </div>
                    </div>
                </div>
                <!--product2-info-left end-->
                <!-- product2-content-img start -->
                <div class="am-u-md-4">
                    <div class="product2-content-img">
                        @*<img src="~/images/product/product2/product2-phone.jpg" alt="" />*@
                        <img src="~/images/1071167968.jpg" />
                    </div>
                </div>
                <!-- product2-content-img end -->
                <!-- product2-info-right start -->
                <div class="am-u-md-4 product2-info">
                    <div class="product2-info-right">
                        <div class="am-g">
                            <div class="am-u-sm-2">
                                <img src="../images/product/product2/product2_service_icon6.png" alt="" />
                            </div>
                            <div class="am-u-sm-10 am-text-left product2-content-info">
                                <h3>4. Employment negotiation</h3>
                                <p>According to the motivation of candidates, we help to analyze their career planning before attending the new company.</p>
                            </div>
                        </div>
                        <div class="am-g">
                            <div class="am-u-sm-2">
                                <img src="../images/product/product2/product2_service_icon7.png" alt="" />
                            </div>
                            <div class="am-u-sm-10 am-text-left product2-content-info">
                                <h3>5. On board follow up</h3>
                                <p>Helping candidates to be parts of company and make contributions is our job, we do pay lots of attention to candidates after their on boarding.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- product2-info-right end -->
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="section--header">
            <h2 class="section--title">WHY US:</h2>
            <p class="section--description">
                1.	We provide customized human resource services for our clients. Different project groups are formed according to different functions and companies.  We ensured the quality of all the recommended candidates.
            </p>
            <p class="section--description">
                2.	Our consultants are highly focused on industries. Not only the high quality resources, but also the deep understanding of correlation technique, market dynamics and flow of talent are the greatest advantage of us.
            </p>
            <p class="section--description">
                3.	The high efficiency of our service: After the formalization of our partnership, 3 to 4 strictly selected candidates (interviewed by candidates) will be recommended to clients in one week,  with complete credit check form attached.
            </p>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="section--header">
            <h2 class="section--title">Functions:</h2>
            <p class="section--description">
                Our recruitment consultants are highly specialized in the following business functions:
            </p>
            <p class="section--description">
                Operation&Manufacturing, Quality management, R&D, Supply Chain, Sales, Marketing, Human Resource, Finance
            </p>
        </div>
    </div>
</div>


<div class="section">
    <div class="container">
        <div class="section--header">
            <h2 class="section--title">Industries we focused</h2>
        </div>
    </div>
    <div class="product3-show-container">
        <div class="container">
            <div class="am-g">
                <div class="am-u-md-6 product3-show-box">
                    <div class="am-g">
                        <div class="am-u-md-12">
                            <div class="product3-show-content">
                                <h3>Automotive Parts & Components</h3>
                                <p>1. Engine System</p>
                                <p>2. Chassis & Braking System</p>
                                <p>3. Electronics System</p>
                                <p>4. Transmission System</p>
                                <p>5. Hybrid System</p>
                                <p>6. Exterior System</p>
                                <p>7. Interior System</p>
                                <p>8. Chemical Materials</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="am-u-md-6 product3-show-box">
                    <div class="am-g">
                        <div class="am-u-md-6">
                            <div class="am-u-md-12">
                                <div class="product3-show-content">
                                    <h3>Chemical</h3>
                                    <p>1. Petroleum Chemical</p>
                                    <p>2. Inorganic Chemical</p>
                                    <p>3. Basic Organic Chemical</p>
                                    <p>4. Polymer Chemical</p>
                                    <p>5. Fine Chemical</p>
                                    <p>6. Chemical Engineering</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                        </div>
                    </div>
                </div>
    <div class="product3-show-container">
        <div class="container">
            <div class="am-g">
                <div class="am-u-md-6 product3-show-box">
                    <div class="am-g">
                        <div class="am-u-md-12">
                            <div class="product3-show-content">
                                <h3>Mechanical manufacturing</h3>
                                <p>1. Motive power machinery</p>
                                <p>2. Hoisting and conveying machinery</p>
                                <p>3. Agricultural machinery</p>
                                <p>4. Metallurgical mine machinery</p>
                                <p>5. Chemical machinery</p>
                                <p>6. Textile machinery</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="am-u-md-6 product3-show-box">
                    <div class="am-g">
                        <div class="am-u-md-6">
                            <div>
                                <div class="product3-show-content">
                                    <h3>Information Technology</h3>
                                    <p>1. Software development</p>
                                    <p>2. Hardware development</p>
                                    <p>3. Test</p>
                                    <p>4. Embedded development</p>
                                    <p>5. Big data</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

