@section head{
    <link href="~/Content/product.min.css" rel="stylesheet" />
}
<!--===========layout-container================-->
<div class="layout-container">
    <div class="index-page">
        <div data-am-widget="tabs" class="am-tabs am-tabs-default">
            <div class="am-tabs-bd">
                <div data-tab-panel-0 class="am-tab-panel am-active">
                    <div class="index-banner" style="background-image: url('../../images/放在首页图片1.jpg');">
                        <div class="index-mask">
                            <div class="container">
                                <div class="am-g">
                                    <div class="am-u-md-10 am-u-sm-centered">
                                        <h1 class="slide_simple--title">Rays Consulting</h1>
                                        <div class="slide_simple--buttons">
                                            <a href="/Home" class="am-btn am-btn-danger">Learn More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-tab-panel-1 class="am-tab-panel ">
                    <div class="index-banner" style="background-image: url('../../images/放在首页图片2.jpg');">
                        <div class="index-mask">
                            <div class="container">
                                <div class="am-g">
                                    <div class="am-u-md-10 am-u-sm-centered">
                                        <h1 class="slide_simple--title">Rays Consulting</h1>
                                        <div class="slide_simple--buttons">
                                            <a href="/Home" class="am-btn am-btn-danger">Learn More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div data-tab-panel-2 class="am-tab-panel ">
                        <div class="index-banner">
                            <div class="index-mask">
                                <div class="container">
                                    <div class="am-g">
                                        <div class="am-u-md-10 am-u-sm-centered">
                                            <h1 class="slide_simple--title">企业移动化，首选云适配</h1>
                                            <p class="slide_simple--text am-text-left">
                                                全球领先的HTML5企业移动化解决方案供应商，安全高效的帮助您的企业移动化。云适配企业浏览器Enterploer,让企业安全迈进移动办公时代！
                                            </p>
                                            <div class="slide_simple--buttons">
                                                <button type="button" class="am-btn am-btn-danger">了解更多</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-tab-panel-3 class="am-tab-panel ">
                        <div class="index-banner">
                            <div class="index-mask">
                                <div class="container">
                                    <div class="am-g">
                                        <div class="am-u-md-10 am-u-sm-centered">
                                            <h1 class="slide_simple--title">企业移动化，首选云适配</h1>
                                            <p class="slide_simple--text am-text-left">
                                                全球领先的HTML5企业移动化解决方案供应商，安全高效的帮助您的企业移动化。云适配企业浏览器Enterploer,让企业安全迈进移动办公时代！
                                            </p>
                                            <div class="slide_simple--buttons">
                                                <button type="button" class="am-btn am-btn-danger">了解更多</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
            </div>
            <ul class="am-tabs-nav am-cf index-tab">
                <li class="am-active">
                    <a href="[data-tab-panel-0] am-g">
                        <div class="am-u-md-3 am-u-sm-3 am-padding-right-0">
                            <i class="am-icon-cog"></i>
                        </div>
                        <div class="school-item-right am-u-md-9 am-u-sm-9 am-text-left">
                            <strong class="promo_slider_nav--item_title">Rays Consulting</strong>
                            <p class="promo_slider_nav--item_description">Focus ,and more professional</p>
                        </div>
                    </a>
                </li>
                <li class="a">
                    <a href="[data-tab-panel-1] am-g">
                        <div class="am-u-md-3 am-u-sm-3 am-padding-right-0">
                            <i class="am-icon-lightbulb-o"></i>
                        </div>
                        <div class="school-item-right am-u-md-9 am-u-sm-9 am-text-left">
                            <strong class="promo_slider_nav--item_title">Rays Consulting</strong>
                            <p class="promo_slider_nav--item_description">Focus ,and more professional</p>
                        </div>
                    </a>
                </li>
                @*<li class="">
                        <a href="[data-tab-panel-2] am-g">
                            <div class="am-u-md-3 am-u-sm-3 am-padding-right-0">
                                <i class="am-icon-line-chart"></i>
                            </div>
                            <div class="school-item-right am-u-md-9 am-u-sm-9 am-text-left">
                                <strong class="promo_slider_nav--item_title">HTML5移动开发</strong>
                                <p class="promo_slider_nav--item_description">Amaze UI 前端开发框架</p>
                            </div>
                        </a>
                    </li>
                    <li class="">
                        <a href="[data-tab-panel-3] am-g">
                            <div class="am-u-md-3 am-u-sm-3 am-padding-right-0">
                                <i class="am-icon-hourglass-end"></i>
                            </div>
                            <div class="school-item-right am-u-md-9 am-u-sm-9 am-text-left">
                                <strong class="promo_slider_nav--item_title">How We Work</strong>
                                <p class="promo_slider_nav--item_description">Lorem ipsum asmo dolor</p>
                            </div>
                        </a>
                    </li>*@
            </ul>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="section--header">
            <h2 class="section--title">About Rays Consulting</h2>
            <p>
                RAYS CONSULTING is committed to connecting and optimizing business resources to provide Executive Search & Professional Placement services for enterprises. The founders，come from a fortune 500 U.S. human resource firm, set up RAYS brand pioneering the concept of “Focus, and more Professional”, with the purpose of restoring the “consulting” essence of headhunting. With office headquartered in JiangSu, the business scope of RAYS covers large and medium-sized cities nationwide, focusing on automotive,chemical,electronic and IT industries.
            </p>
            <p>
                The teams of RAYS are broken down to focus on industry, function, salary level and location, our consultants are all experts in their area. Every consultant，with relevant experience, only focus on their own field. Therefore, we understand the market better, we understand the people better. RAYS help enterprises achieve their business goals more efficiently by providing customized human resource solutions, which is our core competitive advantage.
            </p>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="section--header">
            <h2 class="section--title">Functions:</h2>
            <p class="section--description">
                Our recruitment consultants are highly specialized in the following business functions:
            </p>
            <p class="section--description">
                Operation&Manufacturing, Quality management, R&D, Supply Chain, Sales, Marketing, Human Resource, Finance
            </p>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="section--header">
            <h2 class="section--title">Industries we focused:</h2>
        </div>
    </div>
    <div class="product3-show-container">
        <div class="container">
            <div class="am-g">
                <div class="am-u-md-6 product3-show-box">
                    <div class="am-g">
                        @*<div class="am-u-md-6">
                                <div class="product3-show-img">
                                    <div class="product3-img-mask"><i class="am-icon-search"></i></div>
                                    <img src="../assets/images/product/product3/product3_img_1.jpg" alt="" />
                                </div>
                            </div>*@
                        <div class="am-u-md-12">
                            <div class="product3-show-content">
                                <h3>Automotive Parts & Components</h3>
                                <p>Engine System</p>
                                <p>Chassis & Braking System</p>
                                <p>Electronics System</p>
                                <p>Transmission System</p>
                                <p>Hybrid System</p>
                                <p>Exterior System</p>
                                <p>Interior System</p>
                                <p>Chemical Materials</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="am-u-md-6 product3-show-box">
                    <div class="am-g">
                        <div class="am-u-md-6">
                            <div class="am-u-md-12">
                                <div class="product3-show-content">
                                    <h3>Chemical</h3>
                                    <p>Petroleum Chemical</p>
                                    <p>Inorganic Chemical</p>
                                    <p>Basic Organic Chemical</p>
                                    <p>Polymer Chemical</p>
                                    <p>Fine Chemical</p>
                                    <p>Chemical Engineering</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="am-u-md-6 product3-show-box">
                        <div class="am-g">
                            <div class="am-u-md-6">
                                <div class="product3-show-img">
                                    <div class="product3-img-mask"><i class="am-icon-search"></i></div>
                                    <img src="../assets/images/product/product3/product3_img_3.jpg" alt="" />
                                </div>
                            </div>
                            <div class="am-u-md-6">
                                <div class="product3-show-content">
                                    <h3>国际先进技术，技术栈领先</h3>
                                    <p>基于风靡社区的React.js封装组件，沿袭高性能、可复用、易扩展等特性，保证企业应用技术栈保持国际领先</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-md-6 product3-show-box">
                        <div class="am-g">
                            <div class="am-u-md-6">
                                <div class="product3-show-img">
                                    <div class="product3-img-mask"><i class="am-icon-search"></i></div>
                                    <img src="../assets/images/product/product3/product3_img_4.jpg" alt="" />
                                </div>
                            </div>
                            <div class="am-u-md-6">
                                <div class="product3-show-content">
                                    <h3>国际先进技术，技术栈领先</h3>
                                    <p>基于风靡社区的React.js封装组件，沿袭高性能、可复用、易扩展等特性，保证企业应用技术栈保持国际领先</p>
                                </div>
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>
</div>